@font-face{
	font-family: 'Titillium Web';
	src: url("../font/Titillium_Web/TitilliumWeb-Regular.ttf") format('truetype');
}

body{
	font-family: 'Titillium Web';
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Titillium Web';
	font-weight: normal;
}

p, a{
	font-family: inherit;
	font-size: 1em;
	text-decoration: none;
}

.brand{
	font-size: 3em;
	position: absolute;
	top: 30px;
	left: 40px;
}

.top-bar{
	height: 100px;
	margin: 0 0 10px 0;
	background-color: #98AEB4;
}

.container{
	padding: 30px 40px;
}

.tab-item{
	height: 30px;
}

.tab-item img{
	margin-right: 20px;
}

.tabs-favicon{
	height: 16px;
}

.tabs-number{
	font-size: 2em;
	display: inline-block;
	margin-right: 20px;
}

.tabs-date{
	display: inline-block;
}

.table-row td{
	padding: 5px 10px;
	vertical-align: middle;
}

.tabs-list{
	padding: 30px 0;
}

.tabs-table table{
	margin-top: 20px;
}